{% extends "generic/base.html" %}
{% load thumbnail %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

<h2 class="green">Albums</h2>
<div class="add"><a href="{% url "add_album" %}"><button>Add Album</button></a></div>

{% if albums %}
{% for album in albums %}
<h4 class="title">{{album.title}}</h4>

{% thumbnail album.cover.image "300" as image %}
  <div class="image"><a href="{% url "album_detail" id=album.id %}"><img src="{{ image.url }}"></a></div>
  {% empty %}
  <div class="image"><a href="{% url "album_detail" id=album.id %}"><img src="{% static "windows.jpg" %}"></a></div>
{% endthumbnail %}

{% endfor %}
{% endif %}

<h2 class="green">Photos</h2>
<div class="add"><a href="{% url "add_photo" %}"><button>Add Photo</button></a></div>

{% if photos %}
{% for photo in photos %}
<h4 class="title">{{photo.title}}</h4>

{% thumbnail photo.image "250" as image %}
<div class="image"><a href="{% url "photo_detail" id=photo.id %}"><img src="{{ image.url }}"></a></div>
{% endthumbnail %}

{% endfor %}
{% endif %}

{% endif %}
{% endblock content %}
