body {
    // background-color: $pink;
    margin: 10px;
    font-family: Helvetica, sans-serif;
    animation: colorShift 5s linear infinite;
    color: $blue;
    text-align: center;
}

h1 {
    font-size: $font;
}

h2 {
    font-size: $font * .9;
}

h3 {
    font-size: $font * .8;
}

h4 {
    font-size: $font * .7;
}

p {
    font-size: $font * .5;
}

ul {
    list-style-type: none;
}

button {
    font-size: $font * .5;
    padding: 10px;
    border-radius: 3px;
    background-color: $purple;
    color: $black;
}

@keyframes colorShift {
  0% { background-color: $pink; }
  50% { background-color: $purple; }
  100% { background-color: $pink; }
}
